.text {
  max-width: 800px;
  width: 100%;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin: 0 auto;
  padding: 0 var(--grid-margin);
  white-space: pre-wrap;
  hyphens: none;
  overflow-wrap: normal;
  word-break: normal;
}

.text span {
  display: inline;
  will-change: color, opacity;
  transition: color 0.08s linear;
}

@media (max-width: 767px) {
  .text {
    font-size: 20px;
  }
}
